@model IEnumerable<BeFit.Models.ExerciseStatisticsViewModel>

@{
    ViewData["Title"] = "Statistics";
}

<h1>Your Statistics</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRepetitions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageLoad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxLoad)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRepetitions)
            </td>
            <td>
                @item.AverageLoad.ToString("F2")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxLoad)
            </td>
        </tr>
}
    </tbody>
</table>
